<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1>Lista de películas</h1>
        <ul>
    <%results.forEach(function(item, index){%>
            <li><%= item.name%> con link <%= item.link%></li>
            <%});%>
        </ul>
  </body>
</html>
