<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1>Lista de películas</h1>
    <%results.forEach(function(item, index){%>
        <ul>
            <li><%= item.name%></li>
            <%});%>
        </ul>
  </body>
</html>
