<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1>Lista de películas</h1>
        <ul>
    <%results.forEach(function(item, index){%>
            <li><a href=<%= item.link%>><%= item.name%></a></li>
            <%});%>
        </ul>
  </body>
</html>
