<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Laboratorio 2. - Creación de un Portal Web.</h1>
    <h2>Tecnologías de Internet de Nueva Generación.</h2>
    <p><b>Resumen: </b>En esta pagina se creará un portal web</p>
  </body>
</html>
